
@{
    ViewBag.Title = "userInfo";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using Recipe_network.Models
<h2 style="margin-left:350px;margin-top:20px">个人资料</h2>
@foreach (var item in ViewBag.userss as List<UserInfo>)
{

<form action="/UserInfo/userInfos" method="post" enctype="multipart/form-data">

    <label style="margin-left:120px;font-size:20px">  账号：@item.Account</label>
    <label style="margin-left:120px;font-size:20px" > 用户名：</label><input value="@item.UName" name="Uname" style="height:50px" />
    <br />
    <lable style="margin-left:120px;font-size:20px">更改图片：<input type="file" name="userpic" id="file" style="margin-left:120px" /> </lable>
    <img src="" id="userpic" alt="" style="height:100px;margin-left:120px" />
    <lable style="margin-left:120px;font-size:20px">个性签名：</lable> <textarea style="width:300px;margin-left:123px" name="discriptss">@item.discriptss</textarea>

    <button type="submit" class="btn btn-primary"  style="margin-left:160px;margin-top:40px">修改</button>
</form>
}
@section scripts{
    <script type="text/javascript">

      $(function () {
        $("#file").on("change", function () {
            var file = this.files[0];
            if (this.files && file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#userpic').attr('src', e.target.result);

                }
                reader.readAsDataURL(file);
            }

        });
    })


    </script>
    
    
    
    }